@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400;700&display=swap');

html {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'Nimbus Sans L', 'Arimo', 'Liberation Sans', 'TeX Gyre Heros', 'FreeSans', 'sans-serif';
  background: #eee;
}

strong {
  font-weight: bold;
}

#app {
  display: flex;
  min-height: 100vh;
}

.panel {
  flex-basis: 0;
  flex-grow: 1;
}

#preview.panel  {
  background: #000004;
  color: rgb(215, 229, 247);
}

.panel-title {
  background: #0000ff;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 45px;
}

#preview.panel .panel-title {
  background: #f3ca20;
  color: #000004;
}

.example-panel-content {
  margin: 20px;
}

.ex-wrap {
  margin: 14px 0 24px;
  position: relative;
}

.ex-add-note {
  -webkit-appearance: none;
  outline: none;
  border: none;
  border-radius: 0;
  height: 36px;
  line-height: 38px;
  border-radius: 4px;
  padding: 0 12px;
  background: #000004;
  color: #fff;
  font-weight: bold;
}

.ex-add-note:focus {
  outline: 2px solid #3070d8;
}

.ex-delete {
  -webkit-appearance: none;
  outline: none;
  border: none;
  text-decoration: none;
  background: #ff776d;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;

  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.ex-preview-content {
  font-size: 13px;
  line-height: 20px;
  -webkit-font-smoothing: 'subpixel-antialiased';
  color: rgb(199, 216, 237);
  letter-spacing: 0.02em;
}

.preview-section {
  margin: 14px;
}

.preview-section-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 7px;
  color: #f3ca20;
}

.folder-content {
  padding-left: 12px;
  border-left: 1px dotted rgb(119, 114, 166);
}

.folder-note-list {
  margin: 8px 0;
}

.folder-note::before {
  content: '◘ ';
}