@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400;700&display=swap');

html {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'Nimbus Sans L', 'Arimo', 'Liberation Sans', 'TeX Gyre Heros', 'FreeSans', 'sans-serif';
  background: #eee;
}

#app {
  display: flex;
  min-height: 100vh;
}

.panel {
  flex-basis: 0;
  flex-grow: 1;
}

#preview.panel  {
  border-left: 1px solid #ccc;
  background: #fff;
}

.panel-title {
  background: #0000ff;
  color: #fff;
  font-weight: bold;
  padding: 10px 14px;
}

.example-panel-content {
  margin: 14px;
}

.ex-wrap {
  margin: 14px 0;
}

.ex-details {
  margin-top: 6px;
  color: #0000ff;
}

.ex-output {
  margin-top: 6px;
  font-family: 'Overpass Mono', monospace;
  font-size: 12px;
  background: #dedef5;
  padding: 10px 16px;
  white-space: pre-wrap;
  max-height: 250px;
  overflow-y: scroll;
  border-radius: 3px;
  outline: 1px solid #ccc;
}

.ex-add-note {
  -webkit-appearance: none;
  outline: none;
  border: none;
  border-radius: 0;
  height: 36px;
  line-height: 38px;
  border-radius: 4px;
  padding: 0 12px;
  background: #0000ff;
  color: #fff;
  font-weight: bold;
  margin-top: 10px;
}