.cm-editor {
  height: auto;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #fff;
  font-family: 'Overpass Mono', monospace;
  color: #000;
  padding: 6px;
  word-break: break-word;
  font-size: 16px;
  line-height: 1.75;
}

.cm-date {
  color: #ac6e65;
  font-weight: bold;
}

.cm-pin {
  color: #0e62d1;
  font-weight: bold;
}

.cm-path {
  background-color: #f3ca20;
  color: #000;
  font-weight: bold;
  border-radius: 2px;
  display: inline-block;
  padding: 0px 3px;
}

.cm-tag {
  color: #11a7d1;
}

.cm-plus {
  color: #57bb1e;
  font-weight: bold;
}

.cm-minus {
  color: #ff776d;
  font-weight: bold;
}

.cm-bang {
  color: #ee8826;
  font-weight: bold;
}

.cm-todo {
  color: #fff;
  background: #cb1c17;
  border-radius: 2px;
  display: inline-block;
  padding: 0px 3px;
}

.cm-done {
  background: #57bb1e;
  color: #fff;
  display: inline-block;
  padding: 0px 3px;
}

.cm-url {
  color: #6090cb;
  font-weight: bold;
}

.cm-formula-open {
  color: #0e62d1;
  font-weight: bold;
}

.cm-arg {
  color: #0e62d1;
}

.cm-operator {
  color: #7a6fa4;
  /* color: #0e62d1; */
}

.cm-error {
  color: darkred;
  font-weight: bold;
  position: relative;
}

.cm-error:before {
  content: '^ ERROR';
  white-space: nowrap;
  position: absolute;
  padding: 3px;
  font-weight: bold;
  z-index: 2;
  font-size: 9px;
  bottom: -16px;
  left: 0px;
}

.cm-lparen,
.cm-rparen {
  color: #7a6fa4;
}
